
<br>
<br>
<br>
<br>
<center><h1>Number correct: <%= @word_correct.to_s %></h1></center>
<center><h2>Number of words: <%= @word_count.to_s %></h2></center>
<br>
<center><h2>Completed Time:</h2></center>
<br>
<br>
<br>
<br>
<center><font size="72"><%= link_to "Finished!", root_path %></font></center>
<br>
<br>

<br>
<br>
<p> <%= Time.now %>
