<script type='text/javascript' src="button.js"></script>
%br
%br
%div#whole_page
	%div#nav_column
		%a= link_to "Miss", :quiz_miss, {class: 'nav_button'}
		%a= link_to "Home", root_path, {class: 'nav_button'}
	%section#body_column
		%a= link_to @result_list.s_value, :quiz_correct, {class: 'word_button'}
%br
%br
%br
%br
%br

%p= Time.now
