
%br
%br
%br
%a= link_to @result_list.s_value, :quiz_correct, {class: 'big_button'}
%br
%br
%br
%br
%br
%a= link_to "Miss", :quiz_miss, {class: 'med_button'}
<br>
%a= link_to "Cancel", root_path, {class: 'med_button'}
%p= Time.now
