// Place all the styles related to the VocabWords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button-old {
    display: block;
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);

    /*Step 3: Text Styles*/
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    /*Step 4: Fancy CSS3 Styles*/
    background: linear-gradient(top, #34696f, #2f5f63);
    border-radius: 50px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2)

}

border{
  border: solid;
}

whole_page{
  @extend border;
  width: 800px;
  overflow: hidden;
  display: inline-block;
}

#nav_column{
  @extend whole_page;
    display: block;
    float: left;
    clear:both;
    width: 200px;
    border-color: red;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

#body_column{
  @extend whole_page;
    display: inline-block;
    width: 500px;
    padding: 10px 10px 10px 10px;
    overflow: hidden;
}

.button{
  /*display: block;         /*--- give block the correct size ---*/
  text-decoration: none;
	text-align: center;
	font: bold "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  /* font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif; */
	background-color: none;
	border-style: solid;
	border-color: black;
	border-radius: 50px;
  margin: 0px 0px 0px 0px;
  padding: 15px;
  position: realtive;
  transition: all 1s ease;

  &:hover{
    transform: scale(1.05);
  }

  &:click{
    background-color: black;
  }
}

.big_button{
  @extend .button;
    font-size: 36px;
    line-height: 100px;
    height: 100px;
    width: 300px;
    margin: 10px auto;

  &:hover{
    background-color: orange;
  }
}

.med_button{
  @extend .button;
    font-size: 18px;
    line-height: 50px;
    height: 50px;
    width: 150px;
    margin: 10px auto;

	&:hover{
    background-color: blue;
    
	}
}

.sml_button{
  @extend .button;
    line-height: 25px;
    font-size: 18px;
    height: 25px;
    width: 75px;
    float: left;
    margin: 10px auto;

  &:hover{
    background-color: red;
  }
}


.nav_button{
  @extend #nav_column;
  @extend .sml_button;

    width: 100px;
    border-style: solid;
    margin: 10px auto;
    float: left;
    padding: 20px
}

.word_button{
  @extend #nav_column;
  @extend .button;

    font-size: 36px;
    width: 400px;
    border-style: dashed;
    margin: auto;
    float: left;
    padding: 20px;

  &:hover{
    background-color: none;
  }
  &:click{
    background-color: red;
    border-style: solid;
  }
}

.buttons_in_line{
  block: inline-block;
  clear: both;
  width: fit-content;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding: 30px 30px 30px 30px;
	border-style: solid;
	border-color: red;
}

.blue{
  background-color: blue;
}
