// Place all the styles related to the VocabWords controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my_styled_button{
	font-size:36px;
  background-color: "red";
  width: 200px;
  height: 200px;
  /*add any other properties you want to style*/
  border-color: blue;
  border_style: dashed;
}

.button-old {
    display: block;
    height: 100px;
    width: 300px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);

    /*Step 3: Text Styles*/
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;

    /*Step 4: Fancy CSS3 Styles*/
    background: linear-gradient(top, #34696f, #2f5f63);
    border-radius: 50px;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2)

}
a.button {
    text-decoration: none;
}

a.button:hover{
    background: red;
}

.field {
	background-color: red;
}

.lesson-field{
	font-size: 36px;
}

.large-font{
	font-size: 36px;	
}

#big{
	height:200px;
	width:200px;
	background-color: yellow;
	border-style: dashed;
	border-color: blue;
}
#word-field{
	height:100px;
	width:200px;
	background-color: yellow;
	border-style: dashed;
	border-color: blue;
}

.blue{
	background: blue;
}
.button{
	display: block;
	text-align:center;
	font-size: 36px;
	font: bold 3.2em/100px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height:100px;
	width:300px;
	top: 20px;
	background-color: none;
	border-style: solid;
	border-color: black;
	border-radius: 50px;
	padding: 10px
}

div#word-quiz-link:hover{
    background: red;
}